.header-margin
  .text-center
    %h1 Delete Image?

%img{src: @image.file, width: "100%"}

.margin-top-bottom
  .text-center
    %a{href: "/images/#{@image.id}/delete"}
      %button(class="btn btn-primary") Yes, Delete