.header-margin
  .text-center
    %h1 Simple Image Gallery

- if loggedin?
  .header-margin
    .text-center
      %a(href="/upload" class="btn btn-primary")
        Upload New Image

.row
  #links
    %ul.grid.list-unstyled
      - @images.each do |image|
        %li.grid-item.col-md-4
          .margin-bottom-30
            %a(href="#{image.file}" title="#{image.title}" data-gallery)
              %img{src: image.file.url(:small), class: "img-responsive"}
            - if loggedin?
              %a{href: "/images/#{image.id}/edit", class: "btn edit-del-button"}
                Edit
              %a{href: "/images/#{image.id}/delete-confirmation", class: "btn edit-del-button"}             
                Delete