.header-margin
  .text-center
    %h1 Simple Image Gallery

- if loggedin?
  .header-margin
    .text-center
      %button(type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-upload")
        Upload New Image

.row
  #links
    %ul.grid.list-unstyled
      - @images.each do |image|
        %li.grid-item.col-md-4
          .margin-bottom-30
            %a(href="#{image.file}" title="#{image.title}" data-gallery)
              %img{src: image.file.url(:small), class: "img-responsive"}
            - if loggedin?
              %a{href: "/images/#{image.id}/edit", class: "btn edit-del-button"}
                Edit
              %a{href: "/images/#{image.id}/delete-confirmation", class: "btn edit-del-button"}             
                Delete

%div(class="modal fade" id="modal-upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
  %div(class="modal-dialog modal-lg" role="document")
    .modal-content
      .modal-header
        %button(type="button" class="close" data-dismiss="modal" aria-label="close")
          %span(aria-hidden="true") &times;
        %h4(class="modal-title" id="myModalLabel") Upload New Image
      .modal-body
        %form(action="/images" method="post" enctype="multipart/form-data")
          .form-group
            %input(type="file" name="image[file]" id="file")
          .form-group
            %input(type="text" name="image[title]" class="form-control" placeholder="A beautiful image")
          .form-group
            %button(type="submit" class="btn btn-primary") Upload!
      .modal-footer
        %button(type="button" class="btn btn-default" data-dismiss="modal") Close