!!!
%html
  /[if lt IE 7]
    <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="">
  /[if IE 7]
    <html class="no-js lt-ie9 lt-ie8" lang="">
  /[if IE 8]
    <html class="no-js lt-ie9" lang="">
  /[if gt IE 8]
    <html class="no-js" lang="">
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %title Simple Image Gallery
    %meta(name="description" content="Simple Image Gallery")
    %meta(name="viewport" content="width=device-width, initial-scale=1")

    / Bootstrap
    %link(rel="stylesheet" href="/css/bootstrap.min.css")
    / Blueimp's Bootstrap Image Gallery
    %link(rel="stylesheet" href="/css/blueimp-gallery.min.css")
    / %link(rel="stylesheet" href="/css/bootstrap-image-gallery.min.css")
    / Boilerplate
    %link(rel="stylesheet" href="/css/main.css")
    %script(src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js")

  %body
    /[if lt IE 8]
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      
    .container
      = yield

    / The Bootstrap Image Gallery lightbox
    #blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
      .slides
      / Controls for the borderless lightbox
      %h3.title
      %a.prev ‹
      %a.next ›
      %a.close ×
      %a.play-pause
      %ol.indicator
      / The modal dialog, currently not using it
      / .modal.fade
      /   .modal-dialog.modal-lg
      /     .modal-content
      /       .modal-header
      /         %button(type="button" class="close" aria-hidden="true") &times;
      /         %h4.modal-title
      /       .modal-body.next
      /       .modal-footer
      /         %button(type="button" class="btn btn-default pull-left prev")
      /           %i.glyphicon.glyphicon-chevron-left
      /           Previous
      /         %button(type="button" class="btn btn-primary next")
      /           Next
      /           %i.glyphicon.glyphicon-chevron-right

    / jQuery
    %script(src="/js/vendor/jquery-1.11.2.min.js")
    :javascript
      window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.2.min.js"><\/script>')
    / Bootstrap
    %script(src="/js/vendor/bootstrap.min.js")
    / Masonry
    / %script(src="/js/vendor/masonry.pkgd.min.js")
    / %script(src="/js/vendor/imagesloaded.pkgd.min.js")
    / :javascript
    /   $(document).ready(function() {
    /     var $grid = $('.grid').imagesLoaded(function() {
    /       // Init Masonry after all images have loaded.
    /       $grid.masonry({
    /         itemSelector:   '.grid-item',
    /         columnWidth:    '.grid-item',
    /         percentPosition: true
    /       });
    /     });
    /   });
    / Isotope
    %script(src="/js/vendor/isotope.pkgd.min.js")
    :javascript
      $(window).on('load', function() {
        var $grid = $('.grid');

        $grid.isotope({
          itemSelector: '.grid-item',
          percentPosition: true,
          masonry: {
            columnWidth: '.grid-item'
          }
        });
      });
    / Blueimp's Bootstrap Image Gallery
    %script(src="/js/vendor/jquery.blueimp-gallery.min.js")
    / %script(src="/js/vendor/bootstrap-image-gallery.min.js")
    / Boilerplate
    %script(src="/js/plugins.js")
    %script(src="/js/main.js")