.row
  .col-xs-12
    %img(src="#{@image.file}" alt="#{@image.title}" class="img-responsive")

.row
  .col-xs-12.text-center.margin-top-bottom
    %h2= @image.title

.row
  .col-xs-12.margin-top-bottom