
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  color: #30302E;
  background-color: #F8ECE0;
}

.header-margin {
  margin-top: 100px;
  margin-bottom: 100px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-top-bottom {
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  color: #30302E;
}

a:hover, a:focus {
  color: #686857;
  text-decoration: none;
  outline: none;
}

figure {
  background-color: #0C0404;
}

#thumbnail {
  text-align: center;
}

#thumbnail h2.inside-thumbnail {
  position: absolute;
  width: 85%;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 5px;
  color: #F8ECE0;
  font-size: 18px;
  /*text-transform: uppercase;*/
  opacity: 0;
  transition: all 0.3s ease-out;
}

#thumbnail:hover h2.inside-thumbnail {
  opacity: 1;
  transform: translate3d(0, 10px, 0);
}

#thumbnail img {
  margin: 0 auto;
  transition: all 0.3s ease-out;
}

#thumbnail:hover img {
  opacity: 0.3;
  filter: saturate(50%);
}

.edit-del-button {
  width: 100%;
  margin-top: 2px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.edit-del-button:hover, .edit-del-button:focus {
  color: #fff;
  background-color: #286090;
}

/* Bootstrap: Adjust columns gutter */

.row.gutter-20 {
  margin-left: -10px;
  margin-right: -10px;
}

.row.gutter-20 [class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
}

/* Bootstrap: Fix extra space at the bottom of the modal body */

.modal-body {
  padding-bottom: 0;
}

/* Bootstrap: Center the modals vertically */

.modal {
  z-index: 9999999;
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
    margin-right: -4px; /* Adjust spacing to center them properly */
  }

  /* Make them appear from the center */

  .modal.fade .modal-dialog {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    //-webkit-transform: translate3d(0, -300px, 0);
    //transform: translate3d(0, -300px, 0);
    opacity: 1;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* Blueimp's Image Gallery modifications */

.blueimp-gallery > .title {
  width: 100%;
  text-align: center;
  /*text-transform: uppercase;*/
}

.blueimp-gallery > .prev,
.blueimp-gallery > .next {
  width: 80px;
  height: 80px;
  font-size: 120px;
  line-height: 60px;
  background: none;
  border: none;
/*  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;*/
}

.blueimp-gallery > .title {
  width: 60%;
  top: 18px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.blueimp-gallery > .close {
  padding: 2px 12px 6px 12px;
  right: 15px;
  left: auto;
  margin: auto;
  font-size: 24px;
  line-height: 1;
  text-shadow: none;
  text-decoration: none;
  cursor: pointer;
}

.blueimp-gallery > .btn-close {
  color: #FFF;
  background: none;
  opacity: 0.8;
}

.blueimp-gallery > .btn-close:hover {
  color: #000;
  background: #FFF;
  opacity: 1;
}

.blueimp-gallery > .btn-share {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #FFF;
  background: none;
  opacity: 0.8;
}

.blueimp-gallery > .btn-share:hover {
  color: #000;
  background: #FFF;
  opacity: 1;
}

.blueimp-gallery-controls > .btn-share {
  display: block;
  /* Fix z-index issues (controls behind slide element) on Android: */
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
       -o-transform: translateZ(0);
          transform: translateZ(0);
}

.blueimp-gallery > .slides > .slide > .slide-content {
  margin: auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 87%;
  opacity: 1;
}

.blueimp-gallery {
  background: #0C0404;
}