
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  color: #30302E;
  background-color: #F8ECE0;
}

.header-margin {
  margin-top: 100px;
  margin-bottom: 100px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-top-bottom {
  margin-top: 20px;
  margin-bottom: 20px;
}

.upload-margin {
  margin-top: 20px;
  margin-bottom: 60px;
}

a {
  color: #30302E;
}

a:hover, a:focus {
  color: #686857;
  text-decoration: none;
  outline: none;
}

#thumbnail p.inside-thumbnail {
  position: absolute;
  height: 20px;
  padding-left: 10px;
  top: 10px;
  color: #30302E;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0;
  transition: all 0.5s;
}

#thumbnail:hover p.inside-thumbnail {
  opacity: 1;
}

#thumbnail img {
  transition: all 0.3s;
}

#thumbnail img:hover {
  opacity: 0.3;
}

p.wall-transparent {
  margin-top: 9px;
  margin-bottom: -5px;
  /*text-align: center;*/
}

.buttons-container {
  padding-top: 12px;
}

.edit-del-button {
  width: 100%;
  margin-top: 2px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.edit-del-button:hover, .edit-del-button:focus {
  color: #fff;
  background-color: #286090;
}

/* Adjust Boostrap columns gutter */

.row.gutter-20 {
  margin-left: -10px;
  margin-right: -10px;
}

.row.gutter-20 [class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
}

/* Fix extra space at the bottom of the modal body */

.modal-body {
  padding-bottom: 0;
}

/* Center the modals vertically */

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
    margin-right: -4px; /* Adjusts for spacing */
  }

  /* Make them appear from the center */

  .modal.fade .modal-dialog {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    //-webkit-transform: translate3d(0, -300px, 0);
    //transform: translate3d(0, -300px, 0);
    opacity: 1;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* Blueimp's Image Gallery modifications */

.blueimp-gallery > .title {
  text-transform: uppercase;
}