body {
  color: #30302E;
  background-color: #F8F3EF;
}

.header-margin {
  margin-top: 90px;
  margin-bottom: 90px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-top-bottom {
  margin-top: 30px;
  margin-bottom: 30px;
}

.upload-margin {
  margin-top: 30px;
  margin-bottom: 60px;
}

a {
  color: #30302E;
}

a:hover, a:focus {
  color: #686857;
  text-decoration: none;
}

p.wall {
  padding: 10px 8px 8px 8px;
  background-color: #FFFEFC;
}

.edit-del-button {
  width: 100%;
  height: 30px;
  margin-top: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #337ab7;
  color: #fff;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #2e6da4;
  border-radius: 4px;
}

.edit-del-button:hover, .edit-del-button:focus {
  color: #fff;
  background-color: #286090;
}

.modal-body {
  padding-bottom: 0;
}